* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

body {
    font-family: Calibri;
    color: #27EDF0;
    background-color: #202020;
}

.container {
    display: grid;
    grid-template-rows: 944px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'left right';

    .left {
        display: flex;
        position: relative;
        grid-area: left;
        background-color: #101010;
        overflow: hidden;

        .myLogo {
            width: 1280px;
            aspect-ratio: 1/1;
            background: url(Elements/D-Logo-Figma.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 20%;
            position: absolute;
            top: 50%;
            left: 20%;
            translate: -50% -50%;
        }
    }

    .right {
        display: flex;
        grid-area: right;
        padding: 100px;
        background-color: #010101;
        justify-content: center;
        


        .inputarea {
            display: flex;
            position: relative;
            flex-direction: column;
            height: fit-content;
            position: relative;
            top: 60px;

            .cm-title {
                display: flex;
                margin-bottom: 30px;

                .back {
                    font-size: 35px;
                    font-weight: bold;
                    margin-right: 1rem;
                    cursor: pointer;
                }
                
                span {
                    font-weight: bold;
                    font-size: 35px;
                }
            }

            .form-group {
                display: flex;
                flex-direction: column;
                margin-top: 1rem;
                margin-bottom: 1rem;

                label {
                    font-size: 18px;
                    margin-bottom: 3px;
                }

                input {
                    padding: 10px;
                    border-radius: 10px;
                    border: none;
                    background-color: #202020;
                    color: aliceblue;
                    font-size: 14px;
                    height: 40px;
                    width: 400px;
                }
            }

            button {
                padding: 10px 1rem;
                background-color: #27EDF0;
                border: none;
                border-radius: 7px;
                width: min-content;
                margin-bottom: 1rem;
                margin-top: 1rem;
                font-weight: bold;
            }

            .reminder {
                color: white;
                opacity: .5;
                font-weight: normal;
            }
            
            
        }
    }



}